<template>
    <div>
        <navbar-app></navbar-app>
        <content-app></content-app>
        <footer-app></footer-app>
    </div>
</template>

<script>
import navbarApp from '../components/navbar'
import contentApp from '../components/login_form'
import registerApp from '../components/register_form'
import detailsApp from '../components/detail_form'
import footerApp from '../components/footer'

export default {
    components:{
        navbarApp,
        contentApp,
        registerApp,
        detailsApp,
        footerApp
    }
}
</script>