<template>
    <div>
        <form>
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" v-model="data.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" v-model="data.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check col-md-4">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="button" class="btn btn-primary" @click.prevent="login">Submit</button>
        </form>
    </div>
</template>

<script>
import axios from 'axios'
export default {    
    data() {
        return {
            data: {
                email:'',
                password:''
            }
        }
    },
    methods: {
            login() {
                let url = 'api/login'
                let data = this.data

                axios.post(url,data).then( res => {
                    this.$auth.setToken(res.data.token)
                    this.$router.push('/details')
                    console.log("sukses")
                }).catch(err => {
                    console.log("error")
                });
            }
        }
}
</script>